.container
  .row.u-margin-top-lg.u-margin-bottom-lg
    .col-md-12

      %iframe{width: "560", height: "315", src: "https://www.youtube.com/embed/DdlRtGr59yA", frameborder:"0", allow:"accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: ""}
