.row.more-features
  .col-xs-1.col-md-1
  .col-xs-10.col-md-10
    %h2 Features
    %ul
      %li
        %strong Issues:
        Start with an
        %a{ href: "https://docs.gitlab.com/ee/user/project/issues/" }
          issue
        that captures a single feature that delivers business value for users.
      %li
        %strong Tasks:
        Often, a user story is further separated into individual tasks. You can create a task
        %a{ href: "https://docs.gitlab.com/ee/user/markdown.html#task-lists" }
          list
        within an issue's description in GitLab, to further identify those individual tasks.
      %li
        %strong Issue boards:
        Everything is in one place.
        %a{ href: "https://docs.gitlab.com/ee/user/project/issues/#issues-per-project" }
          Track
        issues and communicate progress without switching between products. One interface to follow your issues from backlog to done.
      %li
        %strong Epics:
        Manage your portfolio of projects more efficiently and with less effort by tracking groups of issues that share a theme, across projects and milestones with
        %a{ href: "https://docs.gitlab.com/ee/user/group/epics/" }
          epics.
      %li
        %strong Milestones:
        Track issues and merge requests created to achieve a broader goal in a certain period of time with GitLab
        %a{ href: "https://docs.gitlab.com/ee/user/project/milestones/" }
          milestones.
      %li
        %strong Roadmaps:
        Start date and/or Due date can be visualized in a form of a timeline. The Epics
        %a{ href: "https://docs.gitlab.com/ee/user/group/roadmap/" }
          Roadmap
        page shows such a visualization for all the epics which are under a group and/or its subgroups.
      %li
        %strong Labels:
        Create and assigned to individual issues, which then allows you to filter the issue lists by a single label or multiple
        %a{ href: "https://docs.gitlab.com/ee/user/project/labels.html#prioritize-labels" }
          labels.
      %li
        %strong Burndown Chart:
        Track work in real time, and mitigate risks as they arise.
        %a{ href: "https://docs.gitlab.com/ee/user/project/milestones/burndown_charts.html" }
          Burndown
        charts allow teams to visualize the work scoped in a current sprint as they are being completed.
      %li
        %strong Points and Estimation:
        Indicate the estimated effort with issues by assigning
        %a{ href: "https://docs.gitlab.com/ee/workflow/issue_weight.html" }
          weight
        attributes and indicate estimated effort
      %li
        %strong Collaboration:
        The ability to
        %a{ href: "https://docs.gitlab.com/ee/user/discussions/" }
          contribute
        conversationally is offered throughout GitLab in issues, epics, merge requests, commits and more!
      %li
        %strong Traceability:
        Align your teams issues with subsequent
        %a{ href: "https://docs.gitlab.com/ee/user/project/merge_requests/" } merge
        requests that give you complete tracability from issue creation to end once the related pipeline passes.
      %li
        %strong Wikis:
        A system for documentation called
        %a{ href: "https://docs.gitlab.com/ee/user/project/wiki/" }
          Wiki,
        if you are wanting to keep your documentation in the same project where your code resides.
      %li
        %strong Enterprise Agile Frameworks:
        Large enterprises have adopted agile at enterprise scale using a variety of frameworks, GitLab can support
        %a{ href: "https://www.scaledagileframework.com/" }
          SAFe,
        Spotify,
        %a{ href: "https://www.disciplinedagiledelivery.com/" }
          Disciplined Agile Delivery
        and more.

  .col-xs-1.col-md-1
%hr.divider
