---
layout: default
title: GitLab for Enterprise
description: "Accelerate software delivery with a complete DevOps platform"
canonical_path: "/enterprise/"
// image_title: '/images/opengraph/all-remote.jpg'
// twitter_creator: "@gitlab"
// twitter_site: "@gitlab"
// twitter_image_alt: "All About GitLab's remote work culture"
// twitter_image: "/images/opengraph/all-remote.jpg"
extra_css:
  - enterprise.css
---

%script{src: "https://unpkg.com/aos@2.3.1/dist/aos.js"}
%link{:rel => "stylesheet", :href => "https://unpkg.com/aos@2.3.1/dist/aos.css"}

:javascript
  AOS.init();

.enterprise-page
  %section.hero
    .container{"data-aos" => "fade-up", "data-aos-duration" => "1000", "data-aos-once" => "true"}
      .row
        .col.col-md-12
          .hero__content
            .caption GitLab for Enterprise
            %h1 Let's grow together
            %h3 Scale your DevOps transformation your way. Our complete DevOps platform grows with you.
            %a.hero__btn.cta-btn{:href => "/free-trial/"} Start free trial

  %section.values
    .container
      .row
        .col-md-4
          .value-block{"data-aos" => "fade-up", "data-aos-duration" => "500", "data-aos-once" => "true"}
            .value-block__image
              = image_tag "/images/enterprise/icon_collaberate.svg"
              %h4 Collaboration made easy
              %p Coordinate seamlessly across development, operations, and security and report changes in real time.
        .col-md-4
          .value-block{"data-aos" => "fade-up", "data-aos-duration" => "1000", "data-aos-once" => "true"}
            .value-block__image
              = image_tag "/images/enterprise/icon_money.svg"
              %h4 Lower the cost of development
              %p Deliver code faster with a consistent, efficient, and collaborative DevOps experience.
        .col-md-4
          .value-block{"data-aos" => "fade-up", "data-aos-duration" => "1500", "data-aos-once" => "true"}
            .value-block__image
              = image_tag "/images/enterprise/icon_laptop-globe.svg"
              %h4 Workflow portability
              %p Deploy to any environment or cloud, from anywhere, with a single, flexible deployment workflow.
    .row
      .col-md-12.text-center
        %a.value__btn.cta-btn{:href => "/sales/"} Contact sales

  %section.cta
    .container
      .row
        .col-md-12
          .cta__content
            %h2{"data-aos" => "fade-up", "data-aos-duration" => "500", "data-aos-once" => "true"} Try GitLab for free
            %h3{"data-aos" => "fade-up", "data-aos-duration" => "900", "data-aos-once" => "true"} Activate your trial, invite your coworkers, and start exploring. Get unlimited access to all of GitLab’s features for 30 days.
            %a.cta__btn.cta-btn{"data-aos" => "fade-up", "data-aos-duration" => "1100", "data-aos-once" => "true", :href => "/free-trial/"} Get started

  %section.trust
    .container
      .row
        .col-md-12.text-center
          %h2{"data-aos" => "fade-up", "data-aos-duration" => "500", "data-aos-once" => "true"}
            Trusted by enterprises, loved by developers

          .trust__quote{"data-aos" => "fade-up", "data-aos-duration" => "800", "data-aos-once" => "true"}
            .trust__quote-text
              “We’re bringing into the firm a platform that our engineers actually want to use – which helps drive adoption across multiple teams and increase productivity without having to ‘force’ anyone to adopt it. This is really helping to create an ecosystem where our end users are actively helping us drive towards our strategic goals - more releases, better controls, better software.”
            .trust__quote-author
              George Grant
            .trust__quote-company
              VP technology fellow, Goldman Sachs 
            .trust__quote-link
              %a{:href => "/customers/goldman-sachs/"}
                Learn how Goldman Sachs improves from 1 build every two weeks to over a thousand per day
                %i.fas.fa-arrow-right

      .row
        .col-md-12
          .logo-band
            .logo.logo--1{"data-aos" => "zoom-in", "data-aos-duration" => "200", "data-aos-once" => "true"}
              = image_tag "/images/enterprise/logo-dish.svg"
            .logo.logo--2{"data-aos" => "zoom-in", "data-aos-duration" => "400", "data-aos-once" => "true"}
              = image_tag "/images/enterprise/logo-expedia.svg"
            .logo.logo--3{"data-aos" => "zoom-in", "data-aos-duration" => "600", "data-aos-once" => "true"}
              = image_tag "/images/enterprise/logo-goldman-sachs.svg"
            .logo.logo--4{"data-aos" => "zoom-in", "data-aos-duration" => "800", "data-aos-once" => "true"}
              = image_tag "/images/enterprise/logo-nasdaq.svg"
            .logo.logo--5{"data-aos" => "zoom-in", "data-aos-duration" => "1000", "data-aos-once" => "true"}
              = image_tag "/images/enterprise/logo-uber.svg"
            .logo.logo--6{"data-aos" => "zoom-in", "data-aos-duration" => "1200", "data-aos-once" => "true"}
              = image_tag "/images/enterprise/logo-verizon.svg"

  %section.product
    .container
      .row
        .col-md-12.product__intro
          .product__intro-wrap
            %h2 Accelerate software delivery with a complete DevOps platform
            %h3 GitLab was built to fundamentally change the way development, security, and operations teams collaborate by enabling seamless cross-functional collaboration in a single application.
            %h4 Check out our most popular use cases:

      .row.display-flex
        .col-md-4{"data-aos" => "zoom-in-up", "data-aos-duration" => "500", "data-aos-once" => "true"}
          .product-card
            .product-card__image
              = image_tag "/images/enterprise/source-code.jpg"
              .product-card__content
                %h3.product-card__title Source Code Management
                %p.product-card__blurb Deliver better software faster with our enterprise-ready version control and collaboration. Coordinate work, track and review changes, and manage delivery all in one interface.
                %ul.product-card__list
                  %li Streamline code reviews with live previews
                  %li Leverage custom project templates and automated workflows
                  %li Manage projects and teams of any size
                %a.product-card__link{:href => "/solutions/version-control/"}
                  Learn more about GitLab Version Control & Collaboration
                  %i.fas.fa-arrow-right

        .col-md-4{"data-aos" => "zoom-in-up", "data-aos-duration" => "1000", "data-aos-once" => "true"}
          .product-card
            .product-card__image
              = image_tag "/images/enterprise/ci-cd.jpg"
              .product-card__content
                %h3.product-card__title Continuous Integration and Delivery
                %p.product-card__blurb Build high-quality applications at scale with GitLab CI/CD. Accelerate your digital transformation journey, break down department silos, and streamline efficiency.
                %ul.product-card__list
                  %li Ensure every code change is releasable
                  %li Scale testing with parallel builds and flexible pipelines
                  %li Save time with auto-scaling CI/CD job runners
                %a.product-card__link{:href => "/stages-devops-lifecycle/continuous-integration/"}
                  Learn more about GitLab CI/CD
                  %i.fas.fa-arrow-right

        .col-md-4{"data-aos" => "zoom-in-up", "data-aos-duration" => "1500", "data-aos-once" => "true"}
          .product-card
            .product-card__image
              = image_tag "/images/enterprise/agile2.jpg"
              .product-card__content
                %h3.product-card__title Agile Project Management
                %p.product-card__blurb Gain visibility across your organization to deliver on time and on budget. Enable cross-functional collaboration and keep stakeholders connected with kanban boards, roadmaps, and traceability.
                %ul.product-card__list
                  %li Link issues with code changes
                  %li Manage sprints & backlogs 
                  %li Connect strategy to execution
                %a.product-card__link{:href => "/solutions/agile-delivery/"}
                  Learn more about Agile Project Management with GitLab
                  %i.fas.fa-arrow-right

  %section.cta-alt
    .container
      .row
        .col-md-12
          .cta-alt__content
            %h2{"data-aos" => "fade-up", "data-aos-duration" => "500", "data-aos-once" => "true"} Want to talk with an expert?
            %h3{"data-aos" => "fade-up", "data-aos-duration" => "900", "data-aos-once" => "true"} Our team is here to answer any questions you have about GitLab.
            %a.cta__btn.cta-btn{"data-aos" => "fade-up", "data-aos-duration" => "1100", "data-aos-once" => "true", :href => "/sales/"} Contact us

